<h2>Contact</h2>

<p> Bored? Lonely? Manicly depressed and finding your cat can't suitably empathise with your plight? Contact me! NOW!!!!</p>

<div class="email">
  <p><a href="mailto:d.james88@btinternet.com">Email: d.james88@btinternet.com</a></p>
</div>