<div class="facts">
<ul>
  <li>Dave created the word gullible, which they later traded for a meringue.</li>
  <li>Dave shot the sheriff and the deputy, they are stone cold motherfuckers.</li>
  <li>Dave once beat Enrique Inglesias at poker and took his mole as payment.</li>
  <li>Dave once smelt what The Rock was cooking, and didn't like it, not one bit.</li>
  <li>Dave once slapped the black out of Michael Jackson.</li>
  <li>Dave were Jodie Foster's body double in The Accused.</li>
  <li>After getting fired as a fluffer, they missold PPI to Charlie Sheen.</li>
  <li>Dave once managed to rhyme the word plith with gullible.</li>
  <li>Dave invented genitals, before that people were just smooth, smooth.</li>
  <li>TDavelooked so dashing in speedos, they caused a shark to have a heart attack.</li>
  <li>Dave invented the milk bottle and the advent calendar on the same morning as they invented lent.</li>
  <li>Dave invented the flavour brown, later to be used in brown sauce.</li>
  <li>Dave started the first ever rumour.</li>
  <li>Dave once managed to save the life of an infant by rubbing tree bark on an infected snake bite</li>
</ul>
</div>